p.text 
	| I am a retired computer programmer who started her career at IBM in the 1960's.
	br
	| At IBM I had to keep my wedding ring at home in order to maintain my job.
	br
	| I love to grow roses and I guess I am a fantastic baker.
